.slider {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 250px;
  width: 250px
}

.image-gallery {
  /* Mobile first */
  display: flex;
  flex-direction: column;
  
}

.image-gallery .column {
  display: flex;
  flex-direction: column;
  
}

.img {
  width: 100%;
  border-radius: none;
  height: 100%;
  object-fit: cover;
}

.image-item {
  position: relative;
  cursor: pointer;
}


.slide {
  border-radius: none;
 
  
}

.slide img {
  object-fit: cover;

  max-width: 250px;
  max-height: 250px;
}

.current {
  
}


.arrow {
  background-color: transparent;
  color: rgb(194, 194, 194);
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
  border: none;
  position: absolute;
  z-index: 999;
}

.arrow:hover {
  color: rgb(151, 151, 151);
}

.next {
  top: 35%;
  right: 0.4rem;
}

span {
  color: black;
}

.prev {
  top: 35%;
  left: 0.4rem;
}

h2 {
  text-align: center;
  font-size: 1.2rem;
}

figcaption {
  margin-top: 3px;
}

.no-line {
  text-decoration: none;
}


.image-gallery {
  padding: 3rem;
  /* Mobile first */
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  
}

.image-gallery .column {
  display: flex;
  flex-direction: column;
  margin-right: 4rem;
  margin-left: 4rem;
}

@media only screen and (min-width: 540px) {
  .image-gallery {
      flex-direction: row;
      padding: 2rem;

  }
  .image-gallery .column {
    margin-right: 0;
    margin-left: 0;
    
  }
  .slider {
    
    width: 150px
  }
  .slide img {
    object-fit: cover;
  
    max-width: 150px;
    max-height: 150px;
  }
  span {
      font-size: 1rem;
  }

}

@media only screen and (min-width: 740px) {
  .slider {
    width: 200px
  }
  .slide img {
    object-fit: cover;
  
    max-width: 200px;
    max-height: 200px;
  }
}

@media only screen and (min-width: 940px) {
  .slider {
    width: 250px
  }
  .slide img {
    object-fit: cover;
  
    max-width: 250px;
    max-height: 250px;
  }
}




