

.photos {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .photos > li {
    height: 300px;
    cursor: pointer;
    position: relative;
    list-style: none
  }
  
  .photos li img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
  }