.cover-container {
    background: url('../../public/homepage.jpg') center center/cover no-repeat;
    height: 88vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
   
}

.row {
    flex-direction: row;
}






